<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>edit</title>

    <style type="text/css">
        body {
            padding: 50px;
        }
        #btn {
            margin-left: 35px
        }

    </style>
</head>

<body>
<h2>Изменение автора</h2>
<form action="author_add.html" th:action="@{/author/save}" method="post" th:object="${authorDto}">

    <lable for="author">Название</lable></br>
    <input id="author" type="text" name="fullName" th:value="*{fullName}"/></br></br>

    <input type="submit" value="сохранить"/>
</form>
</br>
<a href="author_list.html" th:href="@{/author}">
    <input type="submit" id="btn" value="назад"/>
</a>
</body>

</html>